body {
  padding-top: 59px; /* for fixed-top navbar */
  background: #f5f5f5;
}

.navbar {
  border-bottom: #6c757d 3px solid;
  opacity: 0.9;
}

.alert {
  margin: 0;
}

#landing-top {
  background: url(../../uploads/landing.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
}

#landing-top .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 459px;
  background: rgba(0, 0, 0, 0.3);
}

#landing-top .container {
  padding-top: 150px;
}

section#form {
  margin: 20px 0;
}

.fa-star {
  color: gray;
}

.fa-star.checked {
  color: orange;
}

.fa-crown.gold {
  color: gold;
}

.fa-crown.silver {
  color: silver;
}

.fa-crown.bronze {
  color: #cd7f32;
}

p {
  margin-bottom: 0;
}

a {
  color: #343a40;
}

div.upwards {
  transition: all 0.3s;
}

div.upwards:hover {
  opacity: 0.7;
  color: white;
}