body {
  padding-top: 84px; /* for fixed-top navbar */
  background: #f5f5f5;
}

.fa-star {
  color: gray;
}

.fa-star.checked {
  color: orange;
}

footer {
  margin-top: 28px;
  background: #f5f5f5;
}