body {
  padding-top: 84px; /* for fixed-top navbar */
  background: #f5f5f5;
}

.fa-star {
  color: gray;
}

.fa-star.checked {
  color: orange;
}

.fa-crown.gold {
  color: gold;
}

.fa-crown.silver {
  color: silver;
}

.fa-crown.bronze {
  color: #cd7f32;
}

p {
  margin-bottom: 0;
}

div.upwards {
  transition: all 0.3s;
}

div.upwards:hover {
  transform: translateY(-5px)
}

div.card-body {
  padding: 10px;
}

footer {
  margin-top: 28px;
  background: #f5f5f5;
}