<%- include("../partials/header") %>

<div class="row">
  <!-- Left Colomn -->
  <div class="col-md-4 col-sm-12">
  <%- include("./userPartials/profile") %>
  </div>
  <!-- Left Column End -->

  <!-- Right Column -->
  <div class="col-md-8 col-sm-12">  
  <%- include("../partials/form") %>
  </div>
  <!-- Right Row End -->
</div>

<%- include("../partials/footer") %>